.n-card > .n-card__footer {
  color: var(--tg-theme-subtitle-text-color);
}

.n-card > .n-card__action {
  display: flex;
  align-items: center;
  justify-content: end;
}

.n-divider:not(.n-divider--vertical) {
  margin-top: 6px;
  margin-bottom: 6px;
}